
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;0,700;1,300;1,600;1,700&display=swap');

;


*{
    margin: 40;
    padding: 40;
    box-sizing: border-box;
   
}
.menu__logo{
    padding-left: 30px;
}

.marco{
    padding-left: 30px;
    border: 5px double #000000;
    border-radius: 40px 40px 40px 40px;
  
}
.encabezado{
    color: #DCD7C9;
    display: grid;
    grid-template-columns: 1fr 3fr;
    text-align: left;
    position: relative;
    width: 70%;
    height: auto;
    top: 50px;
    left: 0;
    background-color: #3F4E4F;
    font-size: xx-large;
    z-index: 40;
    padding-top: 10px ;
    padding-left: 90px;

}
.fondogeneral{
    color: #DCD7C9;
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    background-color: #3F4E4F;
    font-size: x-large;
    z-index: 10;
   }
body{
    
    font-family: 'Cormorant Garamond', serif;
    
}

.menu{
    background-color: #2C3639;
    color:#DCD7C9;
    height: 100px;
    font-size: large;
    z-index: 100;
    position: relative;
    padding-top: 10px ;  
    padding-bottom: 10px;
}
.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    z-index: 100
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: #5e7094;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    left: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: #2C3639;
}

.menu__link--inside{
    padding: 30px 100px 30px 20px;
}

.menu__link--inside:hover{
    background-color: #798499;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}
.contacto
{
    width: 100%;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    z-index: 40;
    
}
.formulario{
width: auto;
grid-gap: 50px;
border: 15px, 15px, 15px, 15px;
}
.texto{
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
.boton_enviar{
    border-radius: 3px;
    cursor: pointer;
}
@media (max-width:200px){
    .menu__hamburguer{
        display: flex;
    }

    .menu__item{
        --clip:0;
        overflow:hidden ;
    }

    .menu__item--active{
        --transform: rotate(0);
        --background: #5e7094;
    }

    .menu__item--show{
        background-color: var(--background);
    }


    .menu__links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        bottom: 0;
        right: 0;
        background-color: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu__links--show{
        transform: unset;
        width: 100%;
    }

    .menu__link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu__arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu__nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu__link--inside{
        width: 90%;
        margin-left: auto;
        border-left: 1px solid #798499;
    }
}
@media screen and (max-width: 1160px)
{
    .menu__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: auto;
        height: 100%;
        margin: 0 auto;
        z-index: 100
    }
}

@media screen and (max-width: 845px)
{
    .menu{
        
        font-size: small;
        
}
.fondogeneral{
    
    font-size: medium;

   }
   .encabezado{

    font-size: medium;
   

}
}
@media screen and (max-width: 737px)
{
    .menu{
        
        font-size:x-small;
}
.fondogeneral{
    
    font-size: small;

   }
   .encabezado{

    font-size: small;  

}
.menu__logo{
    font-size: small;
}
.marco{
    font-size: small;
}
}

@media screen and (max-width: 675px)
{
    .menu{
        
        width: auto;
}
.fondogeneral{
    
   width: auto;
}
  .encabezado{

    width: auto;
} 
}